.footer-component{
    background-color: #182838;
    width: 108%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-circle{
    margin: 0.5rem;
    border: 1px solid #FEFFFF;
    border-radius: 50%;
    min-height: 2.5%;
    min-width: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}