.register_main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5861AE;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 500px; */
    width: 1415px;
    border-bottom: 1px solid #5861AE ;
}
.register_left{
    width: 30%;
    padding: 1rem;
}
.register_left p h1{
    margin: 3rem;
}
.register_right{
    width: 70%;
    padding: 3rem;
    background: #B9C0FD1A 0% 0% no-repeat padding-box;
    height: 500px;
    padding-top: 20px;
}
.register_left h1{
    font-size: 2rem;
    font-weight: 275px;
}
.register_left p{
    color: #565657;
}
.register_right p{
    color: #565657;
}
.register_form button{
    color: #FFFFFF;
    background: #4552C1 0% 0% no-repeat padding-box;
}
.register_bottom, .register_top{
    margin: 4rem;
}
.p-tag,.h-tag{
    margin: 1rem;
}
.register_bottom button{
    margin: 1rem 1rem;
}
.register_form input{
    border: none;
    border-bottom: 1px #5861AE solid;
    margin:  0rem 3rem 0.5rem 0rem;
    height: 2vh ;
    width: 20vw ;
}
.register_checkbox,.register_mobile, .register_password,.register_name,.register_state,.register_district,.register_pincode,.register_address{
    margin: 1rem 0rem;
}
.register_right h2{
    font-size: 1.5rem;
}
.register_right label, i{
    font-size: 0.75rem;
}
.register_right span{
    text-align: right;
}
.register_password input{
    background-image: url('../../images/padlock.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.register_form span{
    width: 30vw;
    text-align: right;
}
.register_button{
    width: 30vw;
    text-align: center;
}
.register_middle{
    height: 30vh;
    border: 0.5px solid #5861AE ;
}
.register_form_top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.register_state input{
    background-image: url('../../images/arrow-down-sign-to-navigate.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
}
.register_district input{
    background-image: url('../../images/arrow-down-sign-to-navigate.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px;
}
.register_form input:focus{
    outline: none;
}
.register_checkbox input{
    padding: 0;
    margin: 2px;
    width:20px;
}
.register_checkbox_button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}